.button {
  background-color: @lightblue;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: @white;
  text-transform: uppercase;
  padding: 16px 20px;
  border: none;
}

.button:hover {
  background-color: @blue;
}

.button:active {
  background-color: darken(@lightblue, 25%);
  color: darken(@white, 25%);
}

.button:disabled {
  background-color: #e5e5e5;
}
