.form-main__intro {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  margin-top: 37px;
  line-height: 24px;
  border-bottom: 1px solid @grey;
}

.form-main__intro h2 {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 26px;
}

.form-main__intro p {
  margin-bottom: 17px;
}

@media (min-width: @tablet-width) {
  .form-main__intro {
    width: 440px;
    margin-top: 73px;
    border-bottom: none;
  }

  .form-main__intro h2 {
    font-size: 30px;
    margin-bottom: 31px;
  }
}

@media (min-width: @desktop-width) {
  .form-main__intro {
    margin-top: 112px;
  }
}
