.page-header {
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}

.page-header__logo {
  margin: 0 auto;
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 768px;
    flex-direction: row;
    margin-bottom: 28px;
  }

  .page-header__main {
    margin-bottom: 0;
    min-height: 56px;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -52px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1200px;
    margin: 0 auto;
  }

  .page-header__logo {
    margin-left: -94px;
  }

  .page-header__logo-image {
    width: 188px;
    height: 96px;
  }
}
