.site-list__item {
  background-color: @lightblue;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 0;
}

.site-list__item:hover {
  background-color: @blue;
}

.site-list__item:active {
  background-color: darken(@lightblue, 25%);
}

.site-list__item:active a {
  color: darken(@white, 25%);
}

.site-list__item:first-child {
  border-top: none;
}

.site-list__item:last-child {
  border-bottom: none;
  box-shadow: inset 0 -5px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: @tablet-width) {
  .site-list__item {
    background-color: @white;
    font-size: 14px;
    line-height: 26px;
    border: none;
    width: 120px;
  }

  .site-list__item a {
    color: @black;
  }

  .site-list__item a:hover {
    color: @lightblue;
  }

  .site-list__item a:active {
    opacity: 0.3;
  }

  .site-list__item--active a {
    color: #766357;
  }

  .site-list__item--active a:hover {
    color: #604e43;
  }

  .site-list__item--active a:active {
    opacity: 0.3;
  }


  .site-list__item:nth-child(3) {
    margin-left: 170px;
  }

  .site-list__item:last-child {
    box-shadow: none;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item:nth-child(3) {
    margin-left: 240px;
  }
}
