.video__wrap {
  padding: 0 22px;
  margin-bottom: 34px;
}

.video__wrap h2 {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 26px;
}

.video__wrap p {
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .video__wrap {
    padding: 0 102px;
    margin-bottom: 72px;
  }

  .video__wrap h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .video video {
    width: 648px;
    height: 500px;
  }
}

@media (min-width: @desktop-width) {
  .video__wrap {
    padding: 0 180px;
  }

  .video video {
    width: 800px;
  }
}
